.mobile-promotion {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .mobile-promotion {
    display: block;
    padding: 7px 0;
    text-align: center;
    background: #d02327;
    color: #fff;
  }
}

@media only screen and (max-width: 480px) {
  .mobile-promotion {
    display: block;
    padding: 7px 0;
    text-align: center;
    background: #d02327;
    color: #fff;
  }
}
