.thumbnail.active {
    border: 2px solid red;
    border-radius: 20px;
    padding: 2px;
}

.row.product-grid-4 .slick-slide {
    /* margin: 0 5px; */
}
.loaderContainer {
    display: flex ;
    align-items : center !important;
    justify-content : center !important;
    height : 80vh;
}