.thumbnail.active {
    border: 2px solid red;
    border-radius: 20px;
    padding: 2px;
}

/* .row.product-grid-4 .slick-slide {
    margin: 0 5px;
} */
.loaderContainer {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 80vh;
}

.bg-leather {
    background-color: #ffeae0 !important;
}

.bg-leather h3 {
    color: #924b29 !important;
}

.bg-red {
    background-color: #d02327 !important;
}

.text-white-all {
    color: white !important;
}

.text-white-all a {
    color: white !important;
}

.text-white-all a {
    color: white !important;
}

.border-1px {
    border: 1px solid #d02327 !important;
    border-radius: 20px;
}

news-p {
    padding-bottom: 50px !important;
    /* border-radius:; */
}

news-p newsletter-inner {
    margin: 40px;
}

.slick-dots li button:before {
    font-size: 0px !important;
}

.dot-style-1 ul li button {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid gray !important;

}

/* 
.slick-dots li button:before {
    font-size:0px;
} */


/* PRODUCT COLORS //  */
/* WRITE product and then color name from database, define color for that below */
.productpeach {
    background-color: #FFDAB9 !important;
}

.productgold {
    background-color: gold !important;
}

.productBrownx {
    background-color: brown !important;
}

.productchiko {
    background-color: #D2B48C !important;
}

.productblack {
    background-color: black !important;
}

.productmaroon {
    background-color: maroon !important;
}





.flex-align-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

/*  */

.product-image-slider button {
    background-color: #d02327;
    z-index: 9999999
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    /* Adjust this to your header's background color */
    z-index: 1000;
    /* Adjust this value as needed */
}


.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: gray !important;
}

.selected {
    border: 2px solid red;
    background-color: red;
    /* Example border color for selected elements */
}
.notselected {
    border: 1px solid grey;
    
    /* Example border color for selected elements */
}


.modal-dialog {
    width: 1000px !important;
    max-width: 100% !important;
    margin: 1.75rem auto;
}



.productpeach {
    background-color: #FFDAB9 !important;
}



/*  colors2 */

.productGold {
    background-color: gold !important;
}

.productPeach {
    background-color: peachpuff !important;
}

.productPink {
    background-color: pink !important;
}

.productBlack {
    background-color: black !important;
}

.productWhite {
    background-color: white !important;
}

.productChique {
    background-color: #FF69B4 !important;
    /* Hot pink */
}

.productNBlue {
    background-color: navy !important;
}

.productRust {
    background-color: #B7410E !important;
    /* Rust */
}

.productO Green {
    background-color: olive !important;
}

.productBrownx {
    background-color: #8B4513 !important;
    /* Saddle brown */
}

.productChico {
    background-color: #D2B48C !important;
    /* Tan */
}

.productBrownz {
    background-color: #8B4513 !important;
    /* Saddle brown */
}

.productMaroon {
    background-color: maroon !important;
}

.productBrown {
    background-color: brown !important;
}

.productGreen {
    background-color: green !important;
}

.productBeige {
    background-color: beige !important;
}

.productOrange {
    background-color: orange !important;
}

.productM-Green {
    background-color: mediumseagreen !important;
}

.productM-Yellow {
    background-color: #FFD700 !important;
    /* Gold */
}

.product-GMT{
    background-color: #808080 !important;
    /* Gray */
}

.productNBlue {
    background-color: navy !important;
}

.productBrowon {
    background-color: brown !important;
}

.productChikoo {
    background-color: #D2B48C !important;
    /* Tan */
}

.productBegie {
    background-color: beige !important;
}

.productN.BlueBTT {
    background-color: navy !important;
}

.productOGreenBTT {
    background-color: olive !important;
}

.productNT/B.TT {
    background-color: #808080 !important;
    /* Gray */
}

.productT Blue {
    background-color: steelblue !important;
}

.productL Gray {
    background-color: lightgray !important;
}

.productRuat {
    background-color: #B7410E !important;
    /* Rust */
}

.productBrownz {
    background-color: #8B4513 !important;
    /* Saddle brown */
}

.productRust B.TT {
    background-color: #B7410E !important;
    /* Rust */
}

.productSW {
    background-color: #2E8B57 !important;
    /* Sea green */
}

.productM R H {
    background-color: #006400 !important;
    /* Dark green */
}

.productGun Metal {
    background-color: #545454 !important;
    /* Dim gray */
}

.productYellow {
    background-color: yellow !important;
}

.productGrey {
    background-color: gray !important;
}

.productMusturd {
    background-color: #FFDB58 !important;
    /* Mustard */
}

.productBlue {
    background-color: blue !important;
}

.productL Blue {
    background-color: lightblue !important;
}

.productD Blue {
    background-color: darkblue !important;
}

.productSultan {
    background-color: #8B4513 !important;
    /* Saddle brown */
}

.productAntique {
    background-color: #FAEBD7 !important;
    /* Antique white */
}

.productTan {
    background-color: tan !important;
}

.productCream {
    background-color: cream !important;
}

.productXX {
    background-color: #000000 !important;
    /* Black */
}

.productG A R {
    background-color: #808080 !important;
    /* Gray */
}

.productAXX {
    background-color: #000000 !important;
    /* Black */
}

.productS S {
    background-color: #000000 !important;
    /* Black */
}

.productPurple {
    background-color: purple !important;
}

.productGray {
    background-color: gray !important;
}



/* new css */

.product-color-box.product-blue{
    background-color: blue !important;
    border:1px solid black
}
.product-color-box.product-green{
    background-color: green !important;
    border:1px solid black
}
.product-color-box.product-rust{
    background-color: #B7410E !important;
    border:1px solid black
}
.product-color-box.product-brown{
    background-color: brown !important;
    border:1px solid black

}
.product-color-box.product-maroon{
    background-color: maroon !important;
    border:1px solid black
}

.product-color-box.product-beige{
    background-color: beige !important;
    border:1px solid black
}

.product-color-box.product-marron{
    background-color: maroon !important;
    border:1px solid black
}

.product-color-box.product-tan{
    background-color: tan !important;
    border:1px solid black
}

.product-color-box.product-peach{
    background-color: peachpuff !important;
    border:1px solid black
}

.product-color-box.product-gun-metal{
    background-color: #545454 !important;
    border:1px solid black
}

.product-color-box.product-white{
    background-color: white !important;
    border:1px solid black
}

.product-color-box.product-pink{
    background-color: pink !important;
    border:1px solid black
}

.product-color-box.product-navy-blue{
    background-color: navy !important;
    border:1px solid black
}
.product-color-box.product-chique{
    background-color: #FF69B4 !important;
    border:1px solid black
}
.product-color-box.product-yellow{
    background-color: yellow !important;
    border:1px solid black
}
.product-color-box.product-o-green{
    background-color: olive !important;
    border:1px solid black
}
.product-color-box.product-olive-green{
    background-color: olive !important;
    border:1px solid black
}
.product-color-box.product-gold{
    background-color: gold !important;
    border:1px solid black
}
.product-color-box.product-browon{
    background-color: brown !important;
    border:1px solid black
}
.product-color-box.product-chikoo{
    background-color: #D2B48C !important;
    border:1px solid black
}
.product-color-box.product-begie{
    background-color: beige !important;
    border:1px solid black
}
.product-color-box.product-pista{
    background-color: #7FFF00 !important;
    border:1px solid black
}
.product-color-box.product-nt-btt{
    background-color: #808080 !important;
    border:1px solid black
}
.product-color-box.product-t-blue{
    background-color: steelblue !important;
    border:1px solid black
}
.product-color-box.product-musturd{
    background-color: #FFDB58 !important;
    border:1px solid black
}
.product-color-box.product-mango-yellow{
    background-color: #FFD700 !important;
    border:1px solid black
}
.product-color-box.product-light-gray{
    background-color: lightgray !important;
    border:1px solid black
}
.product-color-box.product-sultan{
    background-color: #8B4513 !important;
    border:1px solid black
}
.product-color-box.product-silver{
    background-color: silver !important;
    border:1px solid black
}
.product-color-box.product-gray{
    background-color: gray !important;
    border:1px solid black
}
.product-color-box.product-lightblue{
    background-color: lightblue !important;
    border:1px solid black
}
.product-color-box.product-grey{
    background-color: gray !important;
    border:1px solid black
}
.product-color-box.product-gold{
    background-color: gold !important;
    border:1px solid black
}

.product-color-box.product-lavendor{
    background-color: lavender !important;
    border:1px solid black
}

.product-color-box.product-orange{
    background-color: orange !important;
    border:1px solid black
}

.product-color-box.product-dark-blue{
    background-color: darkblue !important;
    border:1px solid black
}


.product-color-box.product-cream{
    background-color: lightgoldenrodyellow !important;
    border:1px solid black;
}
.product-color-box.product-antique{
    background-color: #FAEBD7 !important;
    border:1px solid black
    

}
.product-color-box.product-peach{
    background-color: peachpuff !important;
    border:1px solid black

}
.product-color-box.product-pista-green{
    background-color: #7FFF00 !important;
    border:1px solid black

}
.product-color-box.product-red{
    background-color: red !important;
    border:1px solid black

}
.product-color-box.product-purple{
    background-color: purple !important;
    border:1px solid black
}

.product-color-box.product-brownz {
    background-color: #8B4513 !important;
    border:1px solid black
}

.product-color-box.product-chico {
    background-color: #D2B48C !important;
    border:1px solid black
}

.product-color-box.product-black {
    background-color: black !important;
    border:1px solid black
}

.product-color-box.product-white {
    background-color: white !important;
    border:1px solid black;
}

.product-color-box.product-brownx {
    background-color: brown !important;
    border:1px solid black
}

.product-color-box.product--green {
    background-color: green !important;
    border:1px solid black
}

.product-color-box.product--peach {
    background-color: peachpuff !important;
    border:1px solid black
}

.product-color-box.product--black {
    background-color: black !important;
    border:1px solid black
}

.product-color-box.product--gun-metal {
    background-color: #545454 !important;
    border:1px solid black
}

.product-color-box.product--sultan {
    background-color: #8B4513 !important;
    border:1px solid black
}

.product-color-box.product--yellow {
    background-color: yellow !important;
    border:1px solid black
}

.product-color-box.product--white {
    background-color: white !important;
    border:1px solid black;
}

.product-color-box.product-gray {
    background-color: gray !important;
    border:1px solid black
}

@media only screen and (max-width: 576px) {
    .home-slider .hero-slider-1,
    .hero-slider-1 .single-hero-slider {
        height: 185px !important;
    }

    .home-slider.style-2 {
        padding: 10px !important;
    }

    
    .news-letter .row.p-5.mb-5 {
        padding: 10px !important;
        margin-bottom: 0px !important;
    
      }

      .youtube-wrapper video {
        width: 100% !important;
        height: 100% !important;
        margin-top: 20px;
      }
  }
  

